* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    justify-content: center;
    display: flex;
    background-color: black;
}

.container {
    padding: 10px 1vw;
    box-shadow: 0px 0px 20px rgb(203, 203, 203);
    width: 70vw;
    height: 70vh;
    top: 16%;
    position: absolute;
    background-color: white;
    color: black;
}

p.a {
    display: inline-block;
    transition: 400ms;
    cursor: pointer;
    color: black;
}

span {
    cursor: pointer;
    color: darkblue;
}

p.a:hover {
    text-shadow: 1px 1px 12px black;
}

p.a:active {
    color: rgb(83, 83, 83);
}

p.a:active>span,
span:active {
    transition: 400ms;
    color: rgb(0, 0, 183);
}

button {
    width: 18%;
    border-radius: 5px;
    border: none;
    transition: 400ms;
    cursor: pointer;
    color: black;
    background-color: rgba(0, 0, 0, 0.071);
}
button:hover {
    box-shadow: 1px 1px 12px black;
}